/* Styles for the main container */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(30, 26, 27);
   margin: 0;
  padding: 0;
}

#car-details {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}
h2{
  color:#fff
}
p{
  color:#fff
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding-left:30px;
  padding-right: 10%;
  margin-top: 0px;
  padding-top: 0px;
}

nav ul li{
  display: inline-block;
  padding: 10px;
  margin-top: 0px; 
  padding-top: 0px;
  }
  

nav ul li a{
  color: gray;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0px;
}
a:hover{
  color:white;
  transition: 0.35s;
  cursor: pointer;
}
h1 {
  text-align: center;
  color: #090303;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
  color: crimson
}
#car-image {
  background-image: "https://images.unsplash.com/photo-1614220683044-58f9e9548df6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2160&q=80";
}


/* Style the car list */
#car-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

#car-list li {
  width: 30%;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

#car-list li:hover {
  transform: scale(1.02);
}

/* Style the car details section */
#car-info {
  text-align: center;
}

#car-image {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Styles for the "Buy Car" button */
#buy-car-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#buy-car-btn:hover {
  background-color: #0056b3;
}

/* Style the car details */
#car-make,
#car-model,
#car-year,
#car-price {
  margin: 10px 0;
  color: #333;
}
