/* Styles for the main container */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(30, 26, 27);
     margin: 0;
    padding: 0;
  }
  
  #car-details {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }
  h2{
    color:#fff
  }
  p{
    color:#fff
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-left:30px;
    padding-right: 10%;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  nav ul li{
    display: inline-block;
    padding: 10px;
    margin-top: 0px; 
    padding-top: 0px;
    }
    
  
  nav ul li a{
    color: gray;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0px;
  }
  a:hover{
    color:white;
    transition: 0.35s;
    cursor: pointer;
  }
